
<% @connections.length.times do |i| %>
  <div data-role="page" id="c<%=@connections[i].linkedin_id %>"
       data-profile="true"
       data-index="<%= i %>"
       data-current-id="<%=@connections[i].linkedin_id %>"
      <% if i > 0 %>
        data-prev-id="c<%= @connections[i-1].linkedin_id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="c<%= @connections[i+1].linkedin_id %>"
      <% end %>
  >
    <div data-role="header">
     <h4>See how your friends are rated with</h4>
     <% if !logged_in? %>
       <a href="/session" data-role="none" data-ajax="false" class="ui-btn-right">
         <img data-role="none" class="loginIcon" data-role="none"
              src="/assets/linkedin_signin.png" ></img>
       </a>
      <% end %>
    </div><!-- /header -->

   <div data-role="content">

    <div class="stats"
      <% if i > 0 %>
      id="stats<%= @connections[i-1].linkedin_id %>"
      <% end %>
    >
      <% if i > 0 %>
      <img class="statsImg" src="<%= @connections[i-1].picture_url %>" />
      <b class="statsHeadline"> <%= @connections[i-1].title %></b>
      <p class="statsHeadline"> <%= @connections[i-1].industry %></p>
      <% end %>
    </div>
 
<div data-role="controlgroup" data-type="horizontal" class="voteButtons">
  <a data-vote='true' href="#" data-role="button">1</a> 
  <a data-vote='true' href="#" data-role="button">2</a>
  <a data-vote='true' href="#" data-role="button">3</a>
  <a data-vote='true' href="#" data-role="button">4</a>
  <a data-vote='true' href="#" data-role="button">5</a>
  <a data-vote='true' href="#" data-role="button">6</a>
  <a data-vote='true' href="#" data-role="button">7</a>
  <a data-vote='true' href="#" data-role="button">8</a>
  <a data-vote='true' href="#" data-role="button">9</a> 
  <a data-vote='true' href="#" data-role="button">10</a> 
</div>

      <img src="<%= @connections[i].picture_url %>" />
    </div>

    <div data-role="footer">
      <h4 class="ui-title" tabindex="0" role="heading" aria-level="1">LinkRate</h4>
      <%= link_to "food", "cool.html", :class => ((i == @connections.length - 1) ? "last" : "normal"), :"data-rel" => "dialog", :"data-transition" => "pop", :id => "continuePopup", :style => "display:none"  %>      
    </div>
  </div>
<% end %>

<script>
  $('[data-vote="true"]').live('tap', function() {
    score = $(this).text();
    if ($(this).parents('[data-role="page"]').attr('data-next-id')) {
      var currentId = $(this).parents('[data-role="page"]').attr('data-current-id');
      var nextId = $(this).parents('[data-role="page"]').attr('data-next-id');
      var currentIndex = $(this).parents('[data-role="page"]').attr('data-index');
      
      jQuery.post('/scores', {linkedin_id: currentId, score: score}); 
      $.mobile.changePage('#' + nextId);
      if (currentIndex === "7") { 
        <% if logged_in? %>
          window.location = <%= "http://#{request.host_with_port}/profiles" %>;
        <% else %>
          $('#continuePopup').click();
        <% end %>
      }
    }
  });

</script>

