
<% @connections.length.times do |i| %>
  <% if !@connections[i].picture_url.nil? %>
  <div data-role="page" id="<%=@connections[i].linkedin_id %>"
       data-profile="true"
      <% if i > 0 %>
        data-prev-id="<%= @connections[i-1].linkedin_id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="<%= @connections[i+1].linkedin_id %>"
      <% end %>
  >
    <div data-role="header">
      <img class="loginIcon" src="/assets/linkedin_signin.png"></img>

<!--
      <p> <%= @connections[i].first_name %> <%= @connections[i].last_name %></p>
-->
    </div><!-- /header -->

    <div data-role="content">

    <div class="stats"
      <% if i > 0 %>
      id="stats<%= @connections[i-1].linkedin_id %>"
      <% end %>
    >
      <% if i > 0 %>
      <img class="statsImg" src="<%= @connections[i-1].picture_url %>" />
      <b class="statsHeadline"> <%= @connections[i-1].title %></b>
      <p class="statsHeadline"> <%= @connections[i-1].industry %></p>
      <% end %>
    </div>
 
<div data-role="controlgroup" data-type="horizontal" class="voteButtons">
  <a data-vote='true' href="#" data-role="button">1</a> 
  <a data-vote='true' href="#" data-role="button">2</a>
  <a data-vote='true' href="#" data-role="button">3</a>
  <a data-vote='true' href="#" data-role="button">4</a>
  <a data-vote='true' href="#" data-role="button">5</a>
  <a data-vote='true' href="#" data-role="button">6</a>
  <a data-vote='true' href="#" data-role="button">7</a>
  <a data-vote='true' href="#" data-role="button">8</a>
  <a data-vote='true' href="#" data-role="button">9</a> 
  <a data-vote='true' href="#" data-role="button">10</a> 
</div>

      <img src="<%= @connections[i].picture_url %>" />
    </div>

    <div data-role="footer">
      <% if i > 0 %>
        <a href="#<%= @connections[i-1].linkedin_id %>" data-role="button"
           data-inline="true">Prev</a>
      <% end %>
      <% if i < @connections.length - 1 %>
      <a href="#<%= @connections[i+1].linkedin_id %>" data-role="button"
         data-inline="true">Next</a>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>

<script>
  $('[data-vote="true"]').live('tap', function() {
    score = $(this).text();
    console.log(score);

    if ($(this).parents('[data-role="page"]').attr('data-next-id')) {
      var nextId = $(this).parents('[data-role="page"]').attr('data-next-id');
      console.log($('#' + nextId).length);
      console.log('#' + nextId);
      jQuery.get('/scores', {linkedin_id: nextId, score: score}); 
      // current_user.rate(params[:linkedin_id], params[:score].to_i)

      $.mobile.changePage('#' + nextId);
    }
  });

/*
  $('[data-profile="true"]').find('[data-role="content"]').live('tap swipeleft', function() {
    if ($(this).parents('[data-role="page"]').attr('data-next-id')) {
      $.mobile.changePage('#' + $(this).parents('[data-role="page"]').attr(
        'data-next-id'));
    }
  });
*/
/*
  $('[data-profile="true"]').find('[data-role="content"]').live(
    'swiperight', function() {
    if ($(this).parents('[data-role="page"]').attr('data-prev-id')) {
      $.mobile.changePage('#' + $(this).parents('[data-role="page"]').attr('data-prev-id'), {reverse: true});
    }
  });
*/

</script>

