<% @connections.length.times do |i| %>
  <% if !@connections[i].picture_url.nil? %>
  <div data-role="page" id="c<%=@connections[i].linkedin_id %>"
       data-profile="true"
      <% if i > 0 %>
        data-prev-id="c<%= @connections[i-1].linkedin_id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="c<%= @connections[i+1].linkedin_id %>"
      <% end %>
      data-total-score="<%=@connections[i].total_score%>"
      data-numl-scores="<%=@connections[i].num_scores%>"
  >
    <div data-role="header">
     <h2 style="text-align:left; margin-left:10px;">
      Hot or Not (Professional Edition)
     </h2>

     <p>
     <a href="/session" data-role="none" data-ajax="false" class="ui-btn-right login">
       See friends ratings with &nbsp; <img data-role="none" class="loginIcon" data-role="none"
            src="/assets/linkedin_signin.png" ></img>
     </a>
     </p>

    </div><!-- /header -->

   <div data-role="content">

    <div class="stats"
      <% if i > 0 %>
      id="stats<%= @connections[i-1].linkedin_id %>"
      <% end %>
    >
      <% if i > 0 %>
      <img class="statsImg" src="<%= @connections[i-1].picture_url %>" />
      <b data-score="true"></b>
      <b class="statsHeadline"> <%=@connections[i-1].title%></b>
      <i class="statsHeadline">, <%= @connections[i-1].industry %></i>
      <% end %>
    </div>
 
<div data-role="controlgroup" data-type="horizontal" class="voteButtons">
  <a data-vote='true' href="#" data-role="button">1</a> 
  <a data-vote='true' href="#" data-role="button">2</a>
  <a data-vote='true' href="#" data-role="button">3</a>
  <a data-vote='true' href="#" data-role="button">4</a>
  <a data-vote='true' href="#" data-role="button">5</a>
  <a data-vote='true' href="#" data-role="button">6</a>
  <a data-vote='true' href="#" data-role="button">7</a>
  <a data-vote='true' href="#" data-role="button">8</a>
  <a data-vote='true' href="#" data-role="button">9</a> 
  <a data-vote='true' href="#" data-role="button">10</a> 
</div>

      <img class="profile" src="<%= @connections[i].picture_url %>" />
    </div>

    <div data-role="footer">
<!--
      <% if i > 0 %>
        <a href="#c<%= @connections[i-1].linkedin_id %>" data-role="button"
           data-inline="true">Prev</a>
      <% end %>
      <% if i < @connections.length - 1 %>
      <a href="#c<%= @connections[i+1].linkedin_id %>" data-role="button"
         data-inline="true">Next</a>
      <% end %>
-->
    </div>


  </div>

  <% end %>
<% end %>

<script>
  var t = setTimeout("$.mobile.hidePageLoadingMsg()", 500);

  $('[data-vote="true"]').live('tap', function() {
    console.log('vote');
    score = $(this).text();

    page = $(this).parents('[data-role="page"]');
    total_score = parseInt(page.attr('data-total-score')) + parseInt(score);
    num_scores = parseInt(page.attr('data-num-scores')) + 1;

    console.log(total_score);
    console.log(num_scores);

    page.attr('data-total-score', total_score);
    page.attr('data-num-scores', num_scores);

    if (page.attr('data-next-id')) {
      var nextId = page.attr('data-next-id');
      jQuery.post('/scores', {linkedin_id: nextId, score: score}); 
 
      next = $('#' + nextId);
      console.log(total_score);
      console.log(num_scores);
      next.find('[data-score="true"]').text(
        (total_score / num_scores).toFixed(1));

      $.mobile.changePage('#' + nextId);
    }
  });

/*
  $('[data-profile="true"]').find('[data-role="content"]').live('tap swipeleft', function() {
    if ($(this).parents('[data-role="page"]').attr('data-next-id')) {
      $.mobile.changePage('#' + $(this).parents('[data-role="page"]').attr(
        'data-next-id'));
    }
  });


  $('[data-profile="true"]').find('[data-role="content"]').live(
    'swiperight', function() {
    if ($(this).parents('[data-role="page"]').attr('data-prev-id')) {
      $.mobile.changePage('#' + $(this).parents('[data-role="page"]').attr('data-prev-id'), {reverse: true});
    }
  });
*/

</script>

