
<% @connections.length.times do |i| %>
  <div data-role="page" id="c<%=@connections[i].linkedin_id %>"
       data-profile="true"
       data-index="<%= i %>"
       data-current-id="<%=@connections[i].linkedin_id %>"
      <% if i > 0 %>
        data-prev-id="c<%= @connections[i-1].linkedin_id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="c<%= @connections[i+1].linkedin_id %>"
      <% end %>
      data-total-score="<%=@connections[i].total_score%>"
      data-numl-scores="<%=@connections[i].num_scores%>"
  >
    <div data-role="header">
     <h2 style="text-align:left; margin-left:10px;">
      Hot or Not (Linkedin Edition)
     </h2>

     <p>
       <% if !logged_in? %>
       
     <a href="/session" data-role="none" data-ajax="false" class="ui-btn-right login">
       See friends ratings with &nbsp; <img data-role="none" class="loginIcon" data-role="none"
            src="/assets/linkedin_signin.png" ></img>
     </a>
     <% end %>
     </p>

    </div><!-- /header -->

   <div data-role="content">

    <div class="stats"
      <% if i > 0 %>
      id="stats<%= @connections[i-1].linkedin_id %>"
      <% end %>
    >
      <% if i > 0 %>
      <img class="statsImg" src="<%= @connections[i-1].picture_url %>" />
      <b data-score="true"></b>
      <b class="statsHeadline"> <%= @connections[i-1].title %></b>
      <i class="statsHeadline">, <%= @connections[i-1].industry %></i>
      <% end %>
    </div>
 
<div data-role="controlgroup" data-type="horizontal" class="voteButtons">
  <a data-vote='true' href="#" data-role="button">1</a> 
  <a data-vote='true' href="#" data-role="button">2</a>
  <a data-vote='true' href="#" data-role="button">3</a>
  <a data-vote='true' href="#" data-role="button">4</a>
  <a data-vote='true' href="#" data-role="button">5</a>
  <a data-vote='true' href="#" data-role="button">6</a>
  <a data-vote='true' href="#" data-role="button">7</a>
  <a data-vote='true' href="#" data-role="button">8</a>
  <a data-vote='true' href="#" data-role="button">9</a> 
  <a data-vote='true' href="#" data-role="button">10</a> 
</div>

      <img class="profile" src="<%= @connections[i].picture_url %>" />
    </div>

    <div data-role="footer">
      <h4 class="ui-title" tabindex="0" role="heading" aria-level="1">LinkRate</h4>
      <%= link_to "food", "cool.html", :class => ((i == @connections.length - 1) ? "last" : "normal"), :"data-rel" => "dialog", :"data-transition" => "pop", :id => "continuePopup", :style => "display:none"  %>      
    </div>
  </div>
<% end %>

<script>
  var t = setTimeout("$.mobile.hidePageLoadingMsg()", 500);

  $('[data-vote="true"]').live('tap', function() {
    score = $(this).text();

    page = $(this).parents('[data-role="page"]');
    total_score = parseInt(page.attr('data-total-score')) + parseInt(score);
    num_scores = parseInt(page.attr('data-num-scores')) + 1;

    console.log(total_score);
    console.log(num_scores);

    page.attr('data-total-score', total_score);
    page.attr('data-num-scores', num_scores);

    var currentId = page.attr('data-current-id');
    jQuery.post('/scores', {linkedin_id: currentId, score: score}); 

    if (page.attr('data-next-id')) {
      var nextId = page.attr('data-next-id');
      var currentIndex = page.attr('data-index');
      next = $('#' + nextId);
      next.find('[data-score="true"]').text(
        (total_score / num_scores).toFixed(1));

      $.mobile.changePage('#' + nextId);
      console.debug(currentIndex)
      if (currentIndex === "7") { 
        <% if logged_in? %>
          window.location = '<%= "http://#{request.host_with_port}/profiles" %>';
        <% else %>
          $('#continuePopup').click();
        <% end %>
      }
    }
  });

</script>

