
<% @connections.length.times do |i| %>
  <% if !@connections[i].pictureUrl.nil? %>
  <div data-role="page" id="<%=@connections[i].id %>"
      <% if i > 0 %>
        data-prev-id="<%= @connections[i-1].id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="<%= @connections[i-1].id %>"
      <% end %>
  >
    <div data-role="header">
      <p> <%= @connections[i].first_name %> <%= @connections[i].last_name %></p>
    </div><!-- /header -->

    <div data-role="content">
      <img src="<%= @connections[i].pictureUrl %>" />
    </div>
 
    <div data-role="footer">
      <% if i > 0 %>
        <a href="#<%= @connections[i-1].id %>" data-role="button"
           data-inline="true">Prev</a>
      <% end %>
      <% if i < @connections.length - 1 %>
      <a href="#<%= @connections[i+1].id %>" data-role="button"
         data-inline="true">Next</a>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>
