
<% @connections.length.times do |i| %>
  <% if !@connections[i].pictureUrl.nil? %>
  <div data-role="page" id="<%=@connections[i].id %>"
       data-profile="true"
      <% if i > 0 %>
        data-prev-id="<%= @connections[i-1].id %>"
      <% end %>
      <% if i < @connections.length - 1 %>
        data-next-id="<%= @connections[i+1].id %>"
      <% end %>
  >
    <div data-role="header">
      <p> <%= @connections[i].first_name %> <%= @connections[i].last_name %></p>
    </div><!-- /header -->

    <div data-role="content">

    <div class="stats"
      <% if i > 0 %>
      id="stats<%= @connections[i-1].id %>"
      <% end %>
    >
      <% if i > 0 %>
      <img class="statsImg" src="<%= @connections[i-1].pictureUrl %>" />
      <b class="statsHeadline"> <%= @connections[i-1].headline %></b>
      <p class="statsHeadline"> <%= @connections[i-1].industry %></p>
<!--
      <i class="statsHeadline"> <%= @connections[i-1].industry %></i>
      <p class="statsHeadline"> <%= @connections[i-1].summary %></p>      <p class="statsHeadline"> <%= @connections[i-1].siteStandardProfileRequest
 %></p>        <p class="statsHeadline"> <%= @connections[i-1].apiStandardProfileRequest 
%></p>    
-->      
        
      <% end %>
    </div>   
 
<div data-role="controlgroup" data-type="horizontal">
  <a href="#" data-role="button">1</a> 
  <a href="#" data-role="button">2</a>
  <a href="#" data-role="button">3</a>
  <a href="#" data-role="button">4</a>
  <a href="#" data-role="button">5</a>
  <a href="#" data-role="button">6</a>
  <a href="#" data-role="button">7</a>
  <a href="#" data-role="button">8</a>
  <a href="#" data-role="button">9</a> 
  <a href="#" data-role="button">10</a> 
</div>

      <img src="<%= @connections[i].pictureUrl %>" />
    </div>

    <div data-role="footer">
      <% if i > 0 %>
        <a href="#<%= @connections[i-1].id %>" data-role="button"
           data-inline="true">Prev</a>
      <% end %>
      <% if i < @connections.length - 1 %>
      <a href="#<%= @connections[i+1].id %>" data-role="button"
         data-inline="true">Next</a>
      <% end %>
    </div>
  </div>

  <% end %>
<% end %>

<script>
  $('[data-profile="true"]').find('[data-role="content"]').live('tap click swipeleft', function() {
    if ($(this).parent().attr('data-next-id')) {
      $.mobile.changePage('#' + $(this).parent().attr('data-next-id'));
    }
  });

  $('[data-profile="true"]').find('[data-role="content"]').live(
    'swiperight', function() {
    if ($(this).parent().attr('data-prev-id')) {
      $.mobile.changePage('#' + $(this).parent().attr('data-prev-id'), {reverse: true});
    }
  });
</script>

